{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BYou</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" />
</head>
<body>
    <div class="header_bar">
        <p>+33 (0) 3 20 87 89 90</p>
        <ul>
            <li><a href="#">FR</a></li>
            <li><a href="authentication/auth.html">login</a></li>
        </ul>
    </div>
    <nav>
        <ul>
            <li><a href="authentication/home.html'">ACCUEIL</a></li>            
            <li><a href="authentication/appointments.html">RENDEZ-VOUS</a></li>
            <li><a href="authentication/historique.html">MON PROGRÈS</a></li>
            <li><a href="authentication/auth.html">INSCRIVEZ-VOUS</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}   
    {%  if user.is_authenticated %}
            <p>Vous êtes connecté en tant que {{ request.user }}. <a href="{% url 'logout' %}">Se déconnecter</a></p>
        {% endif %}
    <footer>
    </footer>
</body>
</html>